.main {
  width: 100%;
  height: 100%;
  background:#f5f5f5;
  padding-top: 10%;
  box-sizing: border-box;
}
.login {
  padding-bottom: 60px;
  width: 400px;
  background: #fff;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 7px;
}
.loginTitle1{
  padding-top: 32px;
  padding-left: 32px;
}
.loginTitleImg{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  background: url(../../assets/logo3.jpg) no-repeat center 0;
  background-size:100%;
  display: inline-block;
}
.loginTitle1 span{
  vertical-align: middle;
  font-size: 20px;
}
.loginTitle2{
  padding-left: 40px;
  padding-top: 22px;
  font-size: 22px;
  font-weight: 600;
}
.from{
  padding: 0 40px 0;
}
.loginCheckbox{
  margin-bottom: 24px;
}
.loginFormButton{
  width: 100%;
}