.bmq {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    padding: 0px 25px 10px;
    overflow-y: auto;
  }
  .table {
    background: #fff;
    padding: 0px 20px 20px;
    border: 1px solid #e0e1e2;
    border-top: none;
  }
  .searchBtn {
    min-width: 150px;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
  }
  .headerL{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-left: 16px;
  }
  .headerL::after{
      content: "";
      position: absolute;
      left: 0;
      top: 17px;
      display: inline-block;
      width: 4px;
      height: 15px;
      background: #d4343c;
      border-radius: 2px;
  }
  .picker{
      max-width: 240px;
  }