.search{
display: flex;
padding: 30px 20px 20px;
background: #fff;
border:1px solid #E0E1E2;
align-items: center;
border-bottom: none;
}
.search2{
    display: flex;
    padding: 0px 20px 20px;
    background: #fff;
    align-items: center;
    border-bottom: none;
    border-left:1px solid #E0E1E2;
    border-right:1px solid #E0E1E2;
}
.searchs{
    color: #000;
}
.searchItem{
margin-right: 25px;
white-space: nowrap;
display: flex;
align-items: center;
}
.searchItem:last-child{
    margin-right: 0px;
    white-space: nowrap;
}
.serachIpt{
    max-width: 230px;
}
.searchItemTwo{
    margin-bottom: 20px;
    min-height: 32px;
}
.r20{
    margin-right: 20px;
}