html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
.has-error .ant-input-affix-wrapper .ant-input, .has-error .ant-input-affix-wrapper .ant-input:hover {
  background-color: #fff;
  border-color: #efbf7f;
}
.has-error .ant-form-explain, .has-error .ant-form-split {
     color: #efbf7f;
}
.fromLogin{
  margin-bottom: 16px;
}
.fromLogintop{
  margin-top: 10px;
}
.fromLogin .ant-form-item-required::after{
  display: none;
}
.fromLogin  .ant-form-item-required::before{
  display: none;
}
.explain{
  clear: both;
    min-height: 22px;
    margin-top: -2px;
    color: #efbf7f;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: -1px;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.ant-table-scroll .ant-table-body{
  overflow: auto !important;
}
.ant-table-row[data-row-key="999999"] .ant-table-row-indent{
  display: none;
}
.ant-table-row[data-row-key="999999"] .ant-table-selection-column .ant-radio-inner{
  border-color: #bdbdbd;
}
.ant-table-row[data-row-key="999999"] .ant-table-selection-column .ant-radio-inner:after{
  background-color: #b4b4b4;
}
.ant-table{
  border:1px solid #e8e8e8;
  border-bottom: none;
}
.ant-table .ant-table{
  border: none;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 16px 10px;
}
tr.ant-table-expanded-row td > .ant-table-wrapper {
  margin: -16px -10px -17px;
}
.actionDiv{
  position: sticky;
  right: 0;
}
.ant-message{
  z-index: 91010;
}
.ant-radio.ant-radio-disabled{
  display: none;
}